@charset "UTF-8";
body {
  background: #f5f5f5;
  font-size: 13px;
  font-family: 'Malgun Gothic',Helvetica Neue,Hevetica,'굴림',Sans-serif;
  line-height: 150%;
  letter-spacing: 0.1;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch; }
  body canvas, body article, body section, body div, body button {
    position: relative;
    word-break: break-all;
    display: block; }

.pw1 {
  width: calc(100%  / 12 * 1) !important;
  float: left;
  word-break: break-all; }

.pwd1 {
  width: calc((100%  / 12 * 1) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.pw2 {
  width: calc(100%  / 12 * 2) !important;
  float: left;
  word-break: break-all; }

.pwd2 {
  width: calc((100%  / 12 * 2) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.pw3 {
  width: calc(100%  / 12 * 3) !important;
  float: left;
  word-break: break-all; }

.pwd3 {
  width: calc((100%  / 12 * 3) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.pw4 {
  width: calc(100%  / 12 * 4) !important;
  float: left;
  word-break: break-all; }

.pwd4 {
  width: calc((100%  / 12 * 4) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.pw5 {
  width: calc(100%  / 12 * 5) !important;
  float: left;
  word-break: break-all; }

.pwd5 {
  width: calc((100%  / 12 * 5) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.pw6 {
  width: calc(100%  / 12 * 6) !important;
  float: left;
  word-break: break-all; }

.pwd6 {
  width: calc((100%  / 12 * 6) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.pw7 {
  width: calc(100%  / 12 * 7) !important;
  float: left;
  word-break: break-all; }

.pwd7 {
  width: calc((100%  / 12 * 7) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.pw8 {
  width: calc(100%  / 12 * 8) !important;
  float: left;
  word-break: break-all; }

.pwd8 {
  width: calc((100%  / 12 * 8) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.pw9 {
  width: calc(100%  / 12 * 9) !important;
  float: left;
  word-break: break-all; }

.pwd9 {
  width: calc((100%  / 12 * 9) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.pw10 {
  width: calc(100%  / 12 * 10) !important;
  float: left;
  word-break: break-all; }

.pwd10 {
  width: calc((100%  / 12 * 10) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.pw11 {
  width: calc(100%  / 12 * 11) !important;
  float: left;
  word-break: break-all; }

.pwd11 {
  width: calc((100%  / 12 * 11) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.pw12 {
  width: calc(100%  / 12 * 12) !important;
  float: left;
  word-break: break-all; }

.pwd12 {
  width: calc((100%  / 12 * 12) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.p0 {
  padding: 0px; }

.lp0 {
  padding-left: 0px; }

.rp0 {
  padding-right: 0px; }

.tp0 {
  padding-top: 0px; }

.bp0 {
  padding-bottom: 0px; }

.m0 {
  margin: 0px; }

.lm0 {
  margin-left: 0px; }

.rm0 {
  margin-right: 0px; }

.tm0 {
  margin-top: 0px; }

.bm0 {
  margin-bottom: 0px; }

.p1 {
  padding: 1px; }

.lp1 {
  padding-left: 1px; }

.rp1 {
  padding-right: 1px; }

.tp1 {
  padding-top: 1px; }

.bp1 {
  padding-bottom: 1px; }

.m1 {
  margin: 1px; }

.lm1 {
  margin-left: 1px; }

.rm1 {
  margin-right: 1px; }

.tm1 {
  margin-top: 1px; }

.bm1 {
  margin-bottom: 1px; }

.p2 {
  padding: 2px; }

.lp2 {
  padding-left: 2px; }

.rp2 {
  padding-right: 2px; }

.tp2 {
  padding-top: 2px; }

.bp2 {
  padding-bottom: 2px; }

.m2 {
  margin: 2px; }

.lm2 {
  margin-left: 2px; }

.rm2 {
  margin-right: 2px; }

.tm2 {
  margin-top: 2px; }

.bm2 {
  margin-bottom: 2px; }

.p3 {
  padding: 3px; }

.lp3 {
  padding-left: 3px; }

.rp3 {
  padding-right: 3px; }

.tp3 {
  padding-top: 3px; }

.bp3 {
  padding-bottom: 3px; }

.m3 {
  margin: 3px; }

.lm3 {
  margin-left: 3px; }

.rm3 {
  margin-right: 3px; }

.tm3 {
  margin-top: 3px; }

.bm3 {
  margin-bottom: 3px; }

.p4 {
  padding: 4px; }

.lp4 {
  padding-left: 4px; }

.rp4 {
  padding-right: 4px; }

.tp4 {
  padding-top: 4px; }

.bp4 {
  padding-bottom: 4px; }

.m4 {
  margin: 4px; }

.lm4 {
  margin-left: 4px; }

.rm4 {
  margin-right: 4px; }

.tm4 {
  margin-top: 4px; }

.bm4 {
  margin-bottom: 4px; }

.p5 {
  padding: 5px; }

.lp5 {
  padding-left: 5px; }

.rp5 {
  padding-right: 5px; }

.tp5 {
  padding-top: 5px; }

.bp5 {
  padding-bottom: 5px; }

.m5 {
  margin: 5px; }

.lm5 {
  margin-left: 5px; }

.rm5 {
  margin-right: 5px; }

.tm5 {
  margin-top: 5px; }

.bm5 {
  margin-bottom: 5px; }

.p6 {
  padding: 6px; }

.lp6 {
  padding-left: 6px; }

.rp6 {
  padding-right: 6px; }

.tp6 {
  padding-top: 6px; }

.bp6 {
  padding-bottom: 6px; }

.m6 {
  margin: 6px; }

.lm6 {
  margin-left: 6px; }

.rm6 {
  margin-right: 6px; }

.tm6 {
  margin-top: 6px; }

.bm6 {
  margin-bottom: 6px; }

.p7 {
  padding: 7px; }

.lp7 {
  padding-left: 7px; }

.rp7 {
  padding-right: 7px; }

.tp7 {
  padding-top: 7px; }

.bp7 {
  padding-bottom: 7px; }

.m7 {
  margin: 7px; }

.lm7 {
  margin-left: 7px; }

.rm7 {
  margin-right: 7px; }

.tm7 {
  margin-top: 7px; }

.bm7 {
  margin-bottom: 7px; }

.p8 {
  padding: 8px; }

.lp8 {
  padding-left: 8px; }

.rp8 {
  padding-right: 8px; }

.tp8 {
  padding-top: 8px; }

.bp8 {
  padding-bottom: 8px; }

.m8 {
  margin: 8px; }

.lm8 {
  margin-left: 8px; }

.rm8 {
  margin-right: 8px; }

.tm8 {
  margin-top: 8px; }

.bm8 {
  margin-bottom: 8px; }

.p9 {
  padding: 9px; }

.lp9 {
  padding-left: 9px; }

.rp9 {
  padding-right: 9px; }

.tp9 {
  padding-top: 9px; }

.bp9 {
  padding-bottom: 9px; }

.m9 {
  margin: 9px; }

.lm9 {
  margin-left: 9px; }

.rm9 {
  margin-right: 9px; }

.tm9 {
  margin-top: 9px; }

.bm9 {
  margin-bottom: 9px; }

.p10 {
  padding: 10px; }

.lp10 {
  padding-left: 10px; }

.rp10 {
  padding-right: 10px; }

.tp10 {
  padding-top: 10px; }

.bp10 {
  padding-bottom: 10px; }

.m10 {
  margin: 10px; }

.lm10 {
  margin-left: 10px; }

.rm10 {
  margin-right: 10px; }

.tm10 {
  margin-top: 10px; }

.bm10 {
  margin-bottom: 10px; }

.p11 {
  padding: 11px; }

.lp11 {
  padding-left: 11px; }

.rp11 {
  padding-right: 11px; }

.tp11 {
  padding-top: 11px; }

.bp11 {
  padding-bottom: 11px; }

.m11 {
  margin: 11px; }

.lm11 {
  margin-left: 11px; }

.rm11 {
  margin-right: 11px; }

.tm11 {
  margin-top: 11px; }

.bm11 {
  margin-bottom: 11px; }

.p12 {
  padding: 12px; }

.lp12 {
  padding-left: 12px; }

.rp12 {
  padding-right: 12px; }

.tp12 {
  padding-top: 12px; }

.bp12 {
  padding-bottom: 12px; }

.m12 {
  margin: 12px; }

.lm12 {
  margin-left: 12px; }

.rm12 {
  margin-right: 12px; }

.tm12 {
  margin-top: 12px; }

.bm12 {
  margin-bottom: 12px; }

.p13 {
  padding: 13px; }

.lp13 {
  padding-left: 13px; }

.rp13 {
  padding-right: 13px; }

.tp13 {
  padding-top: 13px; }

.bp13 {
  padding-bottom: 13px; }

.m13 {
  margin: 13px; }

.lm13 {
  margin-left: 13px; }

.rm13 {
  margin-right: 13px; }

.tm13 {
  margin-top: 13px; }

.bm13 {
  margin-bottom: 13px; }

.p14 {
  padding: 14px; }

.lp14 {
  padding-left: 14px; }

.rp14 {
  padding-right: 14px; }

.tp14 {
  padding-top: 14px; }

.bp14 {
  padding-bottom: 14px; }

.m14 {
  margin: 14px; }

.lm14 {
  margin-left: 14px; }

.rm14 {
  margin-right: 14px; }

.tm14 {
  margin-top: 14px; }

.bm14 {
  margin-bottom: 14px; }

.p15 {
  padding: 15px; }

.lp15 {
  padding-left: 15px; }

.rp15 {
  padding-right: 15px; }

.tp15 {
  padding-top: 15px; }

.bp15 {
  padding-bottom: 15px; }

.m15 {
  margin: 15px; }

.lm15 {
  margin-left: 15px; }

.rm15 {
  margin-right: 15px; }

.tm15 {
  margin-top: 15px; }

.bm15 {
  margin-bottom: 15px; }

.wp1 {
  width: calc(100%  / 10 * 1) !important;
  float: left;
  word-break: break-all; }

.wdp1 {
  width: calc((100%  / 10 * 1) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wp2 {
  width: calc(100%  / 10 * 2) !important;
  float: left;
  word-break: break-all; }

.wdp2 {
  width: calc((100%  / 10 * 2) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wp3 {
  width: calc(100%  / 10 * 3) !important;
  float: left;
  word-break: break-all; }

.wdp3 {
  width: calc((100%  / 10 * 3) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wp4 {
  width: calc(100%  / 10 * 4) !important;
  float: left;
  word-break: break-all; }

.wdp4 {
  width: calc((100%  / 10 * 4) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wp5 {
  width: calc(100%  / 10 * 5) !important;
  float: left;
  word-break: break-all; }

.wdp5 {
  width: calc((100%  / 10 * 5) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wp6 {
  width: calc(100%  / 10 * 6) !important;
  float: left;
  word-break: break-all; }

.wdp6 {
  width: calc((100%  / 10 * 6) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wp7 {
  width: calc(100%  / 10 * 7) !important;
  float: left;
  word-break: break-all; }

.wdp7 {
  width: calc((100%  / 10 * 7) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wp8 {
  width: calc(100%  / 10 * 8) !important;
  float: left;
  word-break: break-all; }

.wdp8 {
  width: calc((100%  / 10 * 8) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wp9 {
  width: calc(100%  / 10 * 9) !important;
  float: left;
  word-break: break-all; }

.wdp9 {
  width: calc((100%  / 10 * 9) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wp10 {
  width: calc(100%  / 10 * 10) !important;
  float: left;
  word-break: break-all; }

.wdp10 {
  width: calc((100%  / 10 * 10) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.bdr1 {
  border-bottom: 1px solid #e5e5e5; }

.bbdr1 {
  border-bottom: 1px solid #e5e5e5; }

.tbdr1 {
  border-top: 1px solid #e5e5e5; }

.rbdr1 {
  border-right: 1px solid #e5e5e5; }

.lbdr1 {
  border-left: 1px solid #e5e5e5; }

.bdr0 {
  border-bottom: none; }

.bbdr0 {
  border-bottom: none; }

.tbdr0 {
  border-top: none; }

.rbdr0 {
  border-right: none; }

.lbdr0 {
  border-left: none; }

img.i16 {
  width: 16px;
  height: 16px; }

img.i32 {
  width: 32px;
  height: 32px; }

img.i64 {
  width: 64px;
  height: 64px; }

img.i128 {
  width: 128px;
  height: 128px; }

.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
  font-family: "Malgun Gothic",Helvetica Neue,Hevetica,"굴림",sans-serif;
  line-height: 1.51;
  margin-top: 0px;
  margin-bottom: 0px; }

h1, .h1, .b1 {
  font-size: 3.5em; }

h2, .h2, .b2 {
  font-size: 3em; }

h3, .h3, .b3 {
  font-size: 2.3em; }

h4, .h4, .b4 {
  font-size: 1.7em; }

h5, .h5n .b5 {
  font-size: 1.2em; }

.center, .tcenter {
  text-align: center; }

.tright {
  text-align: right; }

.tleft {
  text-align: left; }

.bold {
  font-weight: bold; }

:lang(ja) {
  font-family: osaka,'Noto Sans JP', sans-serif  !important; }

:lang(en) {
  font-family: helvetica neue,sans-serif !important; }

.nanum, .malg {
  font-family: 'Malgun Gothic','나눔고딕','Malgun Gothic','맑은고딕','Sans-serif' !important; }

.gul {
  font-family: '굴림','Sans-serif'; }

.hide, .none {
  display: none; }

.over {
  display: over; }

.show, .block {
  display: block; }

.iblock {
  display: inline-block; }

.inline {
  display: inline; }

.only-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden; }

.hand, .pointer {
  cursor: pointer !important; }

.left {
  float: left; }

.right {
  float: right !important; }

.err_quit {
  font-weight: bold;
  border: 1px solid #dd4c4c;
  padding: 5px;
  background: #000;
  margin: 3px;
  color: #dd4c4c;
  text-transform: capitalize; }

.red-text {
  color: #E35959; }

.blue-text {
  color: #3e99ff; }

.green-text {
  color: #47c14d; }

.yellow-text {
  color: #ffde00; }

.orange-text {
  color: #f18011; }

.deep-text {
  color: #999; }

.ab {
  position: absolute; }

.ab.t0 {
  top: 0px; }

.ab.b0 {
  bottom: 0px; }

.ab.r0 {
  right: 0px; }

.ab.l0 {
  left: 0px; }

/*# sourceMappingURL=style.basic.css.map */
