@charset "utf-8";

$black : #33373a;
$grey : #ccc;
$white : #f5f5f5;
$main : #33373a;

//color
$blue : #3a9cfd;
	$blue-hover : #20b8ff;
$oran : #f9ac44;
	$deep-oran : #e68d00;
$red : #E35959;
	$deep-red : #e64242;
	

$white-text : #e1e2e5;
$border-color : #e5e5e5;