@charset "UTF-8";
body {
  background: #f5f5f5;
  font-size: 14px;
  font-family: Helvetica Neue,Hevetica,"맑은 고딕",Sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch; }
  body canvas, body article, body section, body div, body button {
    position: relative;
    word-break: break-all;
    display: block;
    overflow: hidden; }

.t-view {
  width: 720px;
  margin: 0px auto;
  display: block;
  overflow: hidden; }

section aside {
  background: #f9f9f9; }
section article {
  background: #f9f9f9;
  border: 1px solid #e5e5e5; }
section div {
  width: auto;
  margin: auto;
  overflow: hidden;
  display: block; }

.w1 {
  width: calc(100%  / 12 * 1) !important;
  float: left;
  word-break: break-all; }

.wd1 {
  width: calc((100%  / 12 * 1) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd1 {
  width: calc((100%  / 12 * 1) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.wac1 {
  width: calc(100%  / 12 * 1);
  margin-left: auto;
  margin-right: auto; }

.w2 {
  width: calc(100%  / 12 * 2) !important;
  float: left;
  word-break: break-all; }

.wd2 {
  width: calc((100%  / 12 * 2) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd2 {
  width: calc((100%  / 12 * 2) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.wac2 {
  width: calc(100%  / 12 * 2);
  margin-left: auto;
  margin-right: auto; }

.w3 {
  width: calc(100%  / 12 * 3) !important;
  float: left;
  word-break: break-all; }

.wd3 {
  width: calc((100%  / 12 * 3) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd3 {
  width: calc((100%  / 12 * 3) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.wac3 {
  width: calc(100%  / 12 * 3);
  margin-left: auto;
  margin-right: auto; }

.w4 {
  width: calc(100%  / 12 * 4) !important;
  float: left;
  word-break: break-all; }

.wd4 {
  width: calc((100%  / 12 * 4) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd4 {
  width: calc((100%  / 12 * 4) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.wac4 {
  width: calc(100%  / 12 * 4);
  margin-left: auto;
  margin-right: auto; }

.w5 {
  width: calc(100%  / 12 * 5) !important;
  float: left;
  word-break: break-all; }

.wd5 {
  width: calc((100%  / 12 * 5) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd5 {
  width: calc((100%  / 12 * 5) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.wac5 {
  width: calc(100%  / 12 * 5);
  margin-left: auto;
  margin-right: auto; }

.w6 {
  width: calc(100%  / 12 * 6) !important;
  float: left;
  word-break: break-all; }

.wd6 {
  width: calc((100%  / 12 * 6) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd6 {
  width: calc((100%  / 12 * 6) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.wac6 {
  width: calc(100%  / 12 * 6);
  margin-left: auto;
  margin-right: auto; }

.w7 {
  width: calc(100%  / 12 * 7) !important;
  float: left;
  word-break: break-all; }

.wd7 {
  width: calc((100%  / 12 * 7) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd7 {
  width: calc((100%  / 12 * 7) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.wac7 {
  width: calc(100%  / 12 * 7);
  margin-left: auto;
  margin-right: auto; }

.w8 {
  width: calc(100%  / 12 * 8) !important;
  float: left;
  word-break: break-all; }

.wd8 {
  width: calc((100%  / 12 * 8) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd8 {
  width: calc((100%  / 12 * 8) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.wac8 {
  width: calc(100%  / 12 * 8);
  margin-left: auto;
  margin-right: auto; }

.w9 {
  width: calc(100%  / 12 * 9) !important;
  float: left;
  word-break: break-all; }

.wd9 {
  width: calc((100%  / 12 * 9) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd9 {
  width: calc((100%  / 12 * 9) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.wac9 {
  width: calc(100%  / 12 * 9);
  margin-left: auto;
  margin-right: auto; }

.w10 {
  width: calc(100%  / 12 * 10) !important;
  float: left;
  word-break: break-all; }

.wd10 {
  width: calc((100%  / 12 * 10) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd10 {
  width: calc((100%  / 12 * 10) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.wac10 {
  width: calc(100%  / 12 * 10);
  margin-left: auto;
  margin-right: auto; }

.w11 {
  width: calc(100%  / 12 * 11) !important;
  float: left;
  word-break: break-all; }

.wd11 {
  width: calc((100%  / 12 * 11) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd11 {
  width: calc((100%  / 12 * 11) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.wac11 {
  width: calc(100%  / 12 * 11);
  margin-left: auto;
  margin-right: auto; }

.w12 {
  width: calc(100%  / 12 * 12) !important;
  float: left;
  word-break: break-all; }

.wd12 {
  width: calc((100%  / 12 * 12) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd12 {
  width: calc((100%  / 12 * 12) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.wac12 {
  width: calc(100%  / 12 * 12);
  margin-left: auto;
  margin-right: auto; }

.waca {
  width: auto;
  margin-lkeft: auto;
  margin-right: auto; }

html .p0 {
  padding: 0px !important; }
html .pl0 {
  padding-left: 0px !important; }
html .pr0 {
  padding-right: 0px !important; }
html .pt0 {
  padding-top: 0px !important; }
html .pb0 {
  padding-bottom: 0px !important; }
html .m0 {
  margin: 0px !important; }
html .ml0 {
  margin-left: 0px !important; }
html .mr0 {
  margin-right: 0px !important; }
html .mt0 {
  margin-top: 0px !important; }
html .mb0 {
  margin-bottom: 0px !important; }

html .p1 {
  padding: 1px !important; }
html .pl1 {
  padding-left: 1px !important; }
html .pr1 {
  padding-right: 1px !important; }
html .pt1 {
  padding-top: 1px !important; }
html .pb1 {
  padding-bottom: 1px !important; }
html .m1 {
  margin: 1px !important; }
html .ml1 {
  margin-left: 1px !important; }
html .mr1 {
  margin-right: 1px !important; }
html .mt1 {
  margin-top: 1px !important; }
html .mb1 {
  margin-bottom: 1px !important; }

html .p2 {
  padding: 2px !important; }
html .pl2 {
  padding-left: 2px !important; }
html .pr2 {
  padding-right: 2px !important; }
html .pt2 {
  padding-top: 2px !important; }
html .pb2 {
  padding-bottom: 2px !important; }
html .m2 {
  margin: 2px !important; }
html .ml2 {
  margin-left: 2px !important; }
html .mr2 {
  margin-right: 2px !important; }
html .mt2 {
  margin-top: 2px !important; }
html .mb2 {
  margin-bottom: 2px !important; }

html .p3 {
  padding: 3px !important; }
html .pl3 {
  padding-left: 3px !important; }
html .pr3 {
  padding-right: 3px !important; }
html .pt3 {
  padding-top: 3px !important; }
html .pb3 {
  padding-bottom: 3px !important; }
html .m3 {
  margin: 3px !important; }
html .ml3 {
  margin-left: 3px !important; }
html .mr3 {
  margin-right: 3px !important; }
html .mt3 {
  margin-top: 3px !important; }
html .mb3 {
  margin-bottom: 3px !important; }

html .p4 {
  padding: 4px !important; }
html .pl4 {
  padding-left: 4px !important; }
html .pr4 {
  padding-right: 4px !important; }
html .pt4 {
  padding-top: 4px !important; }
html .pb4 {
  padding-bottom: 4px !important; }
html .m4 {
  margin: 4px !important; }
html .ml4 {
  margin-left: 4px !important; }
html .mr4 {
  margin-right: 4px !important; }
html .mt4 {
  margin-top: 4px !important; }
html .mb4 {
  margin-bottom: 4px !important; }

html .p5 {
  padding: 5px !important; }
html .pl5 {
  padding-left: 5px !important; }
html .pr5 {
  padding-right: 5px !important; }
html .pt5 {
  padding-top: 5px !important; }
html .pb5 {
  padding-bottom: 5px !important; }
html .m5 {
  margin: 5px !important; }
html .ml5 {
  margin-left: 5px !important; }
html .mr5 {
  margin-right: 5px !important; }
html .mt5 {
  margin-top: 5px !important; }
html .mb5 {
  margin-bottom: 5px !important; }

html .p6 {
  padding: 6px !important; }
html .pl6 {
  padding-left: 6px !important; }
html .pr6 {
  padding-right: 6px !important; }
html .pt6 {
  padding-top: 6px !important; }
html .pb6 {
  padding-bottom: 6px !important; }
html .m6 {
  margin: 6px !important; }
html .ml6 {
  margin-left: 6px !important; }
html .mr6 {
  margin-right: 6px !important; }
html .mt6 {
  margin-top: 6px !important; }
html .mb6 {
  margin-bottom: 6px !important; }

html .p7 {
  padding: 7px !important; }
html .pl7 {
  padding-left: 7px !important; }
html .pr7 {
  padding-right: 7px !important; }
html .pt7 {
  padding-top: 7px !important; }
html .pb7 {
  padding-bottom: 7px !important; }
html .m7 {
  margin: 7px !important; }
html .ml7 {
  margin-left: 7px !important; }
html .mr7 {
  margin-right: 7px !important; }
html .mt7 {
  margin-top: 7px !important; }
html .mb7 {
  margin-bottom: 7px !important; }

html .p8 {
  padding: 8px !important; }
html .pl8 {
  padding-left: 8px !important; }
html .pr8 {
  padding-right: 8px !important; }
html .pt8 {
  padding-top: 8px !important; }
html .pb8 {
  padding-bottom: 8px !important; }
html .m8 {
  margin: 8px !important; }
html .ml8 {
  margin-left: 8px !important; }
html .mr8 {
  margin-right: 8px !important; }
html .mt8 {
  margin-top: 8px !important; }
html .mb8 {
  margin-bottom: 8px !important; }

html .p9 {
  padding: 9px !important; }
html .pl9 {
  padding-left: 9px !important; }
html .pr9 {
  padding-right: 9px !important; }
html .pt9 {
  padding-top: 9px !important; }
html .pb9 {
  padding-bottom: 9px !important; }
html .m9 {
  margin: 9px !important; }
html .ml9 {
  margin-left: 9px !important; }
html .mr9 {
  margin-right: 9px !important; }
html .mt9 {
  margin-top: 9px !important; }
html .mb9 {
  margin-bottom: 9px !important; }

html .p10 {
  padding: 10px !important; }
html .pl10 {
  padding-left: 10px !important; }
html .pr10 {
  padding-right: 10px !important; }
html .pt10 {
  padding-top: 10px !important; }
html .pb10 {
  padding-bottom: 10px !important; }
html .m10 {
  margin: 10px !important; }
html .ml10 {
  margin-left: 10px !important; }
html .mr10 {
  margin-right: 10px !important; }
html .mt10 {
  margin-top: 10px !important; }
html .mb10 {
  margin-bottom: 10px !important; }

html .p11 {
  padding: 11px !important; }
html .pl11 {
  padding-left: 11px !important; }
html .pr11 {
  padding-right: 11px !important; }
html .pt11 {
  padding-top: 11px !important; }
html .pb11 {
  padding-bottom: 11px !important; }
html .m11 {
  margin: 11px !important; }
html .ml11 {
  margin-left: 11px !important; }
html .mr11 {
  margin-right: 11px !important; }
html .mt11 {
  margin-top: 11px !important; }
html .mb11 {
  margin-bottom: 11px !important; }

html .p12 {
  padding: 12px !important; }
html .pl12 {
  padding-left: 12px !important; }
html .pr12 {
  padding-right: 12px !important; }
html .pt12 {
  padding-top: 12px !important; }
html .pb12 {
  padding-bottom: 12px !important; }
html .m12 {
  margin: 12px !important; }
html .ml12 {
  margin-left: 12px !important; }
html .mr12 {
  margin-right: 12px !important; }
html .mt12 {
  margin-top: 12px !important; }
html .mb12 {
  margin-bottom: 12px !important; }

html .p13 {
  padding: 13px !important; }
html .pl13 {
  padding-left: 13px !important; }
html .pr13 {
  padding-right: 13px !important; }
html .pt13 {
  padding-top: 13px !important; }
html .pb13 {
  padding-bottom: 13px !important; }
html .m13 {
  margin: 13px !important; }
html .ml13 {
  margin-left: 13px !important; }
html .mr13 {
  margin-right: 13px !important; }
html .mt13 {
  margin-top: 13px !important; }
html .mb13 {
  margin-bottom: 13px !important; }

html .p14 {
  padding: 14px !important; }
html .pl14 {
  padding-left: 14px !important; }
html .pr14 {
  padding-right: 14px !important; }
html .pt14 {
  padding-top: 14px !important; }
html .pb14 {
  padding-bottom: 14px !important; }
html .m14 {
  margin: 14px !important; }
html .ml14 {
  margin-left: 14px !important; }
html .mr14 {
  margin-right: 14px !important; }
html .mt14 {
  margin-top: 14px !important; }
html .mb14 {
  margin-bottom: 14px !important; }

html .p15 {
  padding: 15px !important; }
html .pl15 {
  padding-left: 15px !important; }
html .pr15 {
  padding-right: 15px !important; }
html .pt15 {
  padding-top: 15px !important; }
html .pb15 {
  padding-bottom: 15px !important; }
html .m15 {
  margin: 15px !important; }
html .ml15 {
  margin-left: 15px !important; }
html .mr15 {
  margin-right: 15px !important; }
html .mt15 {
  margin-top: 15px !important; }
html .mb15 {
  margin-bottom: 15px !important; }

.radi2 {
  border-radius: 2px !important; }

.radi4 {
  border-radius: 4px !important; }

.radi6 {
  border-radius: 6px !important; }

.radi8 {
  border-radius: 8px !important; }

.radi10 {
  border-radius: 10px !important; }

.radi12 {
  border-radius: 12px !important; }

.radi14 {
  border-radius: 14px !important; }

.radi16 {
  border-radius: 16px !important; }

.radi18 {
  border-radius: 18px !important; }

.radi20 {
  border-radius: 20px !important; }

.p-pt3 {
  padding-top: 3% !important; }

.p-pt5 {
  padding-top: 5% !important; }

.p-pt10 {
  padding-top: 10% !important; }

.p-mt3 {
  margin-top: 3% !important; }

.p-mt5 {
  margin-top: 5% !important; }

.p-mt10 {
  margin-top: 10% !important; }

.w-p1 {
  width: calc(10% * 1) !important;
  float: left;
  word-break: break-all; }

.wd-p1 {
  width: calc((10% * 1) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd-p1 {
  width: calc((10% * 1) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.w-p2 {
  width: calc(10% * 2) !important;
  float: left;
  word-break: break-all; }

.wd-p2 {
  width: calc((10% * 2) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd-p2 {
  width: calc((10% * 2) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.w-p3 {
  width: calc(10% * 3) !important;
  float: left;
  word-break: break-all; }

.wd-p3 {
  width: calc((10% * 3) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd-p3 {
  width: calc((10% * 3) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.w-p4 {
  width: calc(10% * 4) !important;
  float: left;
  word-break: break-all; }

.wd-p4 {
  width: calc((10% * 4) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd-p4 {
  width: calc((10% * 4) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.w-p5 {
  width: calc(10% * 5) !important;
  float: left;
  word-break: break-all; }

.wd-p5 {
  width: calc((10% * 5) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd-p5 {
  width: calc((10% * 5) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.w-p6 {
  width: calc(10% * 6) !important;
  float: left;
  word-break: break-all; }

.wd-p6 {
  width: calc((10% * 6) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd-p6 {
  width: calc((10% * 6) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.w-p7 {
  width: calc(10% * 7) !important;
  float: left;
  word-break: break-all; }

.wd-p7 {
  width: calc((10% * 7) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd-p7 {
  width: calc((10% * 7) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.w-p8 {
  width: calc(10% * 8) !important;
  float: left;
  word-break: break-all; }

.wd-p8 {
  width: calc((10% * 8) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd-p8 {
  width: calc((10% * 8) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.w-p9 {
  width: calc(10% * 9) !important;
  float: left;
  word-break: break-all; }

.wd-p9 {
  width: calc((10% * 9) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd-p9 {
  width: calc((10% * 9) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.w-p10 {
  width: calc(10% * 10) !important;
  float: left;
  word-break: break-all; }

.wd-p10 {
  width: calc((10% * 10) - 4px) !important;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  word-break: break-all; }

.wdd-p10 {
  width: calc((10% * 10) - 8px) !important;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  word-break: break-all; }

.bdr {
  border: 1px solid #e5e5e5 !important; }

.wbdr {
  border: 1px solid #f5f5f5 !important; }

.bbdr {
  border-bottom: 1px solid #e5e5e5 !important; }

.tbdr {
  border-top: 1px solid #e5e5e5 !important; }

.rbdr {
  border-right: 1px solid #e5e5e5 !important; }

.lbdr {
  border-left: 1px solid #e5e5e5 !important; }

.bdr0 {
  border-bottom: none !important; }

.bbdr0 {
  border-bottom: none !important; }

.tbdr0 {
  border-top: none !important; }

.rbdr0 {
  border-right: none !important; }

.lbdr0 {
  border-left: none !important; }

img.i16 {
  width: 16px;
  height: 16px; }

img.i32 {
  width: 32px;
  height: 32px; }

img.i64 {
  width: 64px;
  height: 64px; }

img.i128 {
  width: 128px;
  height: 128px; }

.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 0px; }

h1, h2, h3, .h1, .h2, .h3 {
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5; }

h4, h5, .h4, .h5 {
  padding: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e5e5e5; }

h1, .h1, .b1 {
  font-size: 3em; }

h2, .h2, .b2 {
  font-size: 2.3em; }

h3, .h3, .b3 {
  font-size: 1.9em; }

h4, .h4, .b4 {
  font-size: 1.5em; }

h5, .h5n .b5 {
  font-size: 1.2em; }

.center, .tcenter {
  text-align: center; }

.tright {
  text-align: right; }

.tleft {
  text-align: left; }

.bold {
  font-weight: bold; }

:lang(ja) {
  font-family: osaka,'Noto Sans JP', sans-serif  !important; }

:lang(en) {
  font-family: helvetica neue,sans-serif !important; }

.nanum, .malg {
  font-family: 'Malgun Gothic','나눔고딕','Malgun Gothic','맑은고딕','Sans-serif' !important; }

.gul {
  font-family: '굴림','Sans-serif'; }

.hide {
  display: none; }

.over {
  display: over; }

.show, .block {
  display: block; }

.iblock {
  display: inline-block; }

.inline {
  display: inline; }

.only-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden; }

.hand, .pointer {
  cursor: pointer !important; }

.left {
  float: left; }

.right {
  float: right !important; }

.btn {
  transition: 0.2s ease 0s;
  cursor: pointer;
  text-decoration: none;
  border: none;
  text-align: center;
  padding: 5px;
  border: 1px solid transparent;
  background: #33373a;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 0px; }

.btn:hover {
  background: #404446;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), inset 0px 0px 1px rgba(255, 255, 255, 0.3); }

.btn[disabled], .btn[readonly] {
  background: #aaa !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ddd !important;
  cursor: default; }

.btn.white {
  background: #f5f5f5;
  color: rgba(0, 0, 0, 0.95);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px; }

.btn.white:hover {
  background: #f9f9f9;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.15); }

.btn.black {
  background: #222;
  border-radius: 0px; }
  .btn.black:hover {
    -webkit-animation: black-btn-hover .2s ease 0s;
    -moz-animation: black-btn-hover .2s ease 0s;
    -o-animation: black-btn-hover .2s ease 0s;
    animation: black-btn-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.btn.black.o {
  border: 1px solid #222;
  color: #222;
  border-radius: 0px; }
  .btn.black.o:hover {
    -webkit-animation: btn-o-hover .2s ease 0s;
    -moz-animation: btn-o-hover .2s ease 0s;
    -o-animation: btn-o-hover .2s ease 0s;
    animation: btn-o-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.box.black {
  background: #222; }

.box.o.black {
  background: #7b7b7b;
  color: #222;
  border: 1px solid #222; }

.btn.main {
  background: #33373a;
  border-radius: 0px; }
  .btn.main:hover {
    -webkit-animation: main-btn-hover .2s ease 0s;
    -moz-animation: main-btn-hover .2s ease 0s;
    -o-animation: main-btn-hover .2s ease 0s;
    animation: main-btn-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.btn.main.o {
  border: 1px solid #33373a;
  color: #33373a;
  border-radius: 0px; }
  .btn.main.o:hover {
    -webkit-animation: btn-o-hover .2s ease 0s;
    -moz-animation: btn-o-hover .2s ease 0s;
    -o-animation: btn-o-hover .2s ease 0s;
    animation: btn-o-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.box.main {
  background: #33373a; }

.box.o.main {
  background: #899197;
  color: #33373a;
  border: 1px solid #33373a; }

.btn.blue {
  background: #3a9cfd;
  border-radius: 0px; }
  .btn.blue:hover {
    -webkit-animation: blue-btn-hover .2s ease 0s;
    -moz-animation: blue-btn-hover .2s ease 0s;
    -o-animation: blue-btn-hover .2s ease 0s;
    animation: blue-btn-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.btn.blue.o {
  border: 1px solid #3a9cfd;
  color: #3a9cfd;
  border-radius: 0px; }
  .btn.blue.o:hover {
    -webkit-animation: btn-o-hover .2s ease 0s;
    -moz-animation: btn-o-hover .2s ease 0s;
    -o-animation: btn-o-hover .2s ease 0s;
    animation: btn-o-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.box.blue {
  background: #3a9cfd; }

.box.o.blue {
  background: #ebf5ff;
  color: #3a9cfd;
  border: 1px solid #3a9cfd; }

.btn.red {
  background: #E35959;
  border-radius: 0px; }
  .btn.red:hover {
    -webkit-animation: red-btn-hover .2s ease 0s;
    -moz-animation: red-btn-hover .2s ease 0s;
    -o-animation: red-btn-hover .2s ease 0s;
    animation: red-btn-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.btn.red.o {
  border: 1px solid #E35959;
  color: #E35959;
  border-radius: 0px; }
  .btn.red.o:hover {
    -webkit-animation: btn-o-hover .2s ease 0s;
    -moz-animation: btn-o-hover .2s ease 0s;
    -o-animation: btn-o-hover .2s ease 0s;
    animation: btn-o-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.box.red {
  background: #E35959; }

.box.o.red {
  background: #fdf2f2;
  color: #E35959;
  border: 1px solid #E35959; }

.btn.sky {
  background: #1bb2f9;
  border-radius: 0px; }
  .btn.sky:hover {
    -webkit-animation: sky-btn-hover .2s ease 0s;
    -moz-animation: sky-btn-hover .2s ease 0s;
    -o-animation: sky-btn-hover .2s ease 0s;
    animation: sky-btn-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.btn.sky.o {
  border: 1px solid #1bb2f9;
  color: #1bb2f9;
  border-radius: 0px; }
  .btn.sky.o:hover {
    -webkit-animation: btn-o-hover .2s ease 0s;
    -moz-animation: btn-o-hover .2s ease 0s;
    -o-animation: btn-o-hover .2s ease 0s;
    animation: btn-o-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.box.sky {
  background: #1bb2f9; }

.box.o.sky {
  background: #c9edfe;
  color: #1bb2f9;
  border: 1px solid #1bb2f9; }

.btn.oran {
  background: #f9ac44;
  border-radius: 0px; }
  .btn.oran:hover {
    -webkit-animation: oran-btn-hover .2s ease 0s;
    -moz-animation: oran-btn-hover .2s ease 0s;
    -o-animation: oran-btn-hover .2s ease 0s;
    animation: oran-btn-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.btn.oran.o {
  border: 1px solid #f9ac44;
  color: #f9ac44;
  border-radius: 0px; }
  .btn.oran.o:hover {
    -webkit-animation: btn-o-hover .2s ease 0s;
    -moz-animation: btn-o-hover .2s ease 0s;
    -o-animation: btn-o-hover .2s ease 0s;
    animation: btn-o-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.box.oran {
  background: #f9ac44; }

.box.o.oran {
  background: #fff9f1;
  color: #f9ac44;
  border: 1px solid #f9ac44; }

.btn.green {
  background: #47c14d;
  border-radius: 0px; }
  .btn.green:hover {
    -webkit-animation: green-btn-hover .2s ease 0s;
    -moz-animation: green-btn-hover .2s ease 0s;
    -o-animation: green-btn-hover .2s ease 0s;
    animation: green-btn-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.btn.green.o {
  border: 1px solid #47c14d;
  color: #47c14d;
  border-radius: 0px; }
  .btn.green.o:hover {
    -webkit-animation: btn-o-hover .2s ease 0s;
    -moz-animation: btn-o-hover .2s ease 0s;
    -o-animation: btn-o-hover .2s ease 0s;
    animation: btn-o-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.box.green {
  background: #47c14d; }

.box.o.green {
  background: #cdeece;
  color: #47c14d;
  border: 1px solid #47c14d; }

.btn.stone {
  background: #aaa;
  border-radius: 0px; }
  .btn.stone:hover {
    -webkit-animation: stone-btn-hover .2s ease 0s;
    -moz-animation: stone-btn-hover .2s ease 0s;
    -o-animation: stone-btn-hover .2s ease 0s;
    animation: stone-btn-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.btn.stone.o {
  border: 1px solid #aaa;
  color: #aaa;
  border-radius: 0px; }
  .btn.stone.o:hover {
    -webkit-animation: btn-o-hover .2s ease 0s;
    -moz-animation: btn-o-hover .2s ease 0s;
    -o-animation: btn-o-hover .2s ease 0s;
    animation: btn-o-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.box.stone {
  background: #aaa; }

.box.o.stone {
  background: white;
  color: #aaa;
  border: 1px solid #aaa; }

.btn.white {
  background: #f9f9f9;
  border-radius: 0px; }
  .btn.white:hover {
    -webkit-animation: white-btn-hover .2s ease 0s;
    -moz-animation: white-btn-hover .2s ease 0s;
    -o-animation: white-btn-hover .2s ease 0s;
    animation: white-btn-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.btn.white.o {
  border: 1px solid #f9f9f9;
  color: #f9f9f9;
  border-radius: 0px; }
  .btn.white.o:hover {
    -webkit-animation: btn-o-hover .2s ease 0s;
    -moz-animation: btn-o-hover .2s ease 0s;
    -o-animation: btn-o-hover .2s ease 0s;
    animation: btn-o-hover .2s ease 0s;
    animation-fill-mode: forwards; }

.box.white {
  background: #f9f9f9; }

.box.o.white {
  background: white;
  color: #f9f9f9;
  border: 1px solid #f9f9f9; }

.btn.o {
  background: #f9f9f9;
  color: #222;
  border: 1px solid #222; }

.btn.o:hover {
  background: #f9f9f9;
  box-shadow: 0px 0px 4px rgba(58, 156, 253, 0.2); }

.err_quit {
  font-weight: bold;
  border: 1px solid #dd4c4c;
  padding: 5px;
  background: #000;
  margin: 3px;
  color: #dd4c4c;
  text-transform: capitalize; }

.box {
  background: #33373a;
  padding: 8px 10px;
  color: #f5f5f5;
  border: 1px solid transparent; }

.box.stone {
  background: #aaa;
  color: #f5f5f5; }

.box.stone.bdr {
  border: 1px solid rgba(0, 0, 0, 0.3); }

.box.grey {
  background: #ccc;
  padding: 5px 10px;
  color: #222; }

.box.white {
  background: #f9f9f9;
  padding: 4px 10px;
  color: #222;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.box.blue, .box.sucess {
  background: #3a9cfd; }

.box.red, .box.danger {
  background: #E35959; }

.box.oran, .box.warring {
  background: #f9ac44; }

.box.main {
  background: #33373a; }

.wb {
  background: #f9f9f9; }

.rc, .red-text {
  color: #E35959; }

.bc, .blue-text {
  color: #3a9cfd; }

.gc, .green-text {
  color: #47c14d !important; }

.yc, .yellow-text {
  color: #ffde00 !important; }

.oc, .oran-text {
  color: #f9ac44 !important; }

.dc, .deep-text {
  color: #999; }

.sc, .small {
  color: #999;
  font-size: 0.9em; }

.small-text {
  color: #999; }

.bg.blue {
  background: #3a9cfd; }

.bg.red {
  background: #E35959; }

.bg.green {
  background: #47c14d; }

.bg.oran {
  background: #f9ac44; }

.bg.white {
  background: #f5f5f5; }

.bg.black {
  background: #222; }

.bg.main {
  background: #33373a; }

.ab {
  position: absolute; }

.ab.t0 {
  top: 0px; }

.ab.b0 {
  bottom: 0px; }

.ab.r0 {
  right: 0px; }

.ab.l0 {
  left: 0px; }

.info {
  border-left: 3px solid #e5e5e5;
  padding-left: 5px;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 5px;
  margi-bottom: 5px;
  background: #f9f9f9; }

.info.blue {
  border-left: 3px solid #3a9cfd; }

.info.white {
  border-left: 3px solid #f5f5f5; }

.info.black {
  border-left: 3px solid #33373a; }

.info.red {
  border-left: 3px solid #E35959; }

.info.oran {
  border-left: 3px solid #f9ac44; }

s, strike {
  color: #ccc; }

xmp {
  background: #33373a;
  padding: 10px;
  color: #e4e7ea;
  border-left: 4px solid #3a9cfd; }

ul {
  width: 100%; }
  ul li {
    color: #33373a;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    padding: 8px;
    background: #f5f5f5;
    border-left: 2px solid #ccc; }
  ul li.black {
    background: #33373a;
    color: #f5f5f5; }
  ul li.white {
    background: #f9f9f9; }
  ul li:hover {
    background: #f9f9f9; }

kbd {
  background: #e5e5e5;
  color: #999;
  padding: 1px 5px 2px 5px;
  border-radius: 5px; }

kbd.blue {
  color: #3a9cfd;
  background: rgba(58, 156, 253, 0.2); }

kbd.red {
  color: #E35959;
  background: #E35959 -alpha; }

kbd.oran {
  color: #f9ac44;
  background: rgba(249, 172, 68, 0.2); }

kbd.green {
  color: #47c14d;
  background: rgba(71, 193, 77, 0.2); }

kbd.sky {
  color: #20b8ff;
  background: rgba(32, 184, 255, 0.2); }

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
  padding: 8px;
  border: 1px solid #e5e5e5;
  font-size: 1em; }

/*device*/
@media all and (max-width: 768px) {
  /*content $device-set */ }
/*device*/
@media all and (max-width: 1024px) {
  /*content $device-set */ }
/*device*/
@media all and (max-width: 1025px) {
  /*content $device-set */ }
@media all and (min-width: 971px) {
  section {
    min-width: 1100px;
    width: 1100px;
    height: auto;
    min-height: 100%;
    margin: 0px auto 0px auto; } }
@media all and (max-width: 970px) {
  section {
    width: 100%;
    height: auto;
    min-height: 100%; } }
@media all and (max-width: 768) {
  section {
    width: 100%;
    height: auto;
    min-height: 100%; } }

/*# sourceMappingURL=style.basic.css.map */
