@media all and (max-width: 970px) {
  .tw1 {
    width: calc(100%  / 12 * 1) !important;
    float: left;
    word-break: break-all; }

  .twd1 {
    width: calc((100%  / 12 * 1) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd1 {
    width: calc((100%  / 12 * 1) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .twac1 {
    width: calc(100%  / 12 * 1);
    margin-left: auto !important;
    margin-right: auto !important; }

  .tw2 {
    width: calc(100%  / 12 * 2) !important;
    float: left;
    word-break: break-all; }

  .twd2 {
    width: calc((100%  / 12 * 2) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd2 {
    width: calc((100%  / 12 * 2) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .twac2 {
    width: calc(100%  / 12 * 2);
    margin-left: auto !important;
    margin-right: auto !important; }

  .tw3 {
    width: calc(100%  / 12 * 3) !important;
    float: left;
    word-break: break-all; }

  .twd3 {
    width: calc((100%  / 12 * 3) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd3 {
    width: calc((100%  / 12 * 3) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .twac3 {
    width: calc(100%  / 12 * 3);
    margin-left: auto !important;
    margin-right: auto !important; }

  .tw4 {
    width: calc(100%  / 12 * 4) !important;
    float: left;
    word-break: break-all; }

  .twd4 {
    width: calc((100%  / 12 * 4) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd4 {
    width: calc((100%  / 12 * 4) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .twac4 {
    width: calc(100%  / 12 * 4);
    margin-left: auto !important;
    margin-right: auto !important; }

  .tw5 {
    width: calc(100%  / 12 * 5) !important;
    float: left;
    word-break: break-all; }

  .twd5 {
    width: calc((100%  / 12 * 5) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd5 {
    width: calc((100%  / 12 * 5) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .twac5 {
    width: calc(100%  / 12 * 5);
    margin-left: auto !important;
    margin-right: auto !important; }

  .tw6 {
    width: calc(100%  / 12 * 6) !important;
    float: left;
    word-break: break-all; }

  .twd6 {
    width: calc((100%  / 12 * 6) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd6 {
    width: calc((100%  / 12 * 6) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .twac6 {
    width: calc(100%  / 12 * 6);
    margin-left: auto !important;
    margin-right: auto !important; }

  .tw7 {
    width: calc(100%  / 12 * 7) !important;
    float: left;
    word-break: break-all; }

  .twd7 {
    width: calc((100%  / 12 * 7) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd7 {
    width: calc((100%  / 12 * 7) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .twac7 {
    width: calc(100%  / 12 * 7);
    margin-left: auto !important;
    margin-right: auto !important; }

  .tw8 {
    width: calc(100%  / 12 * 8) !important;
    float: left;
    word-break: break-all; }

  .twd8 {
    width: calc((100%  / 12 * 8) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd8 {
    width: calc((100%  / 12 * 8) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .twac8 {
    width: calc(100%  / 12 * 8);
    margin-left: auto !important;
    margin-right: auto !important; }

  .tw9 {
    width: calc(100%  / 12 * 9) !important;
    float: left;
    word-break: break-all; }

  .twd9 {
    width: calc((100%  / 12 * 9) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd9 {
    width: calc((100%  / 12 * 9) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .twac9 {
    width: calc(100%  / 12 * 9);
    margin-left: auto !important;
    margin-right: auto !important; }

  .tw10 {
    width: calc(100%  / 12 * 10) !important;
    float: left;
    word-break: break-all; }

  .twd10 {
    width: calc((100%  / 12 * 10) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd10 {
    width: calc((100%  / 12 * 10) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .twac10 {
    width: calc(100%  / 12 * 10);
    margin-left: auto !important;
    margin-right: auto !important; }

  .tw11 {
    width: calc(100%  / 12 * 11) !important;
    float: left;
    word-break: break-all; }

  .twd11 {
    width: calc((100%  / 12 * 11) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd11 {
    width: calc((100%  / 12 * 11) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .twac11 {
    width: calc(100%  / 12 * 11);
    margin-left: auto !important;
    margin-right: auto !important; }

  .tw12 {
    width: calc(100%  / 12 * 12) !important;
    float: left;
    word-break: break-all; }

  .twd12 {
    width: calc((100%  / 12 * 12) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd12 {
    width: calc((100%  / 12 * 12) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .twac12 {
    width: calc(100%  / 12 * 12);
    margin-left: auto !important;
    margin-right: auto !important; }

  .twaca {
    width: auto;
    margin-lkeft: auto;
    margin-right: auto; }

  html .tp0 {
    padding: 0px !important; }
  html .tpl0 {
    padding-left: 0px !important; }
  html .tpr0 {
    padding-right: 0px !important; }
  html .tpt0 {
    padding-top: 0px !important; }
  html .tpb0 {
    padding-bottom: 0px !important; }
  html .tm0 {
    margin: 0px !important; }
  html .tml0 {
    margin-left: 0px !important; }
  html .tmr0 {
    margin-right: 0px !important; }
  html .tmt0 {
    margin-top: 0px !important; }
  html .tmb0 {
    margin-bottom: 0px !important; }

  html .tp1 {
    padding: 1px !important; }
  html .tpl1 {
    padding-left: 1px !important; }
  html .tpr1 {
    padding-right: 1px !important; }
  html .tpt1 {
    padding-top: 1px !important; }
  html .tpb1 {
    padding-bottom: 1px !important; }
  html .tm1 {
    margin: 1px !important; }
  html .tml1 {
    margin-left: 1px !important; }
  html .tmr1 {
    margin-right: 1px !important; }
  html .tmt1 {
    margin-top: 1px !important; }
  html .tmb1 {
    margin-bottom: 1px !important; }

  html .tp2 {
    padding: 2px !important; }
  html .tpl2 {
    padding-left: 2px !important; }
  html .tpr2 {
    padding-right: 2px !important; }
  html .tpt2 {
    padding-top: 2px !important; }
  html .tpb2 {
    padding-bottom: 2px !important; }
  html .tm2 {
    margin: 2px !important; }
  html .tml2 {
    margin-left: 2px !important; }
  html .tmr2 {
    margin-right: 2px !important; }
  html .tmt2 {
    margin-top: 2px !important; }
  html .tmb2 {
    margin-bottom: 2px !important; }

  html .tp3 {
    padding: 3px !important; }
  html .tpl3 {
    padding-left: 3px !important; }
  html .tpr3 {
    padding-right: 3px !important; }
  html .tpt3 {
    padding-top: 3px !important; }
  html .tpb3 {
    padding-bottom: 3px !important; }
  html .tm3 {
    margin: 3px !important; }
  html .tml3 {
    margin-left: 3px !important; }
  html .tmr3 {
    margin-right: 3px !important; }
  html .tmt3 {
    margin-top: 3px !important; }
  html .tmb3 {
    margin-bottom: 3px !important; }

  html .tp4 {
    padding: 4px !important; }
  html .tpl4 {
    padding-left: 4px !important; }
  html .tpr4 {
    padding-right: 4px !important; }
  html .tpt4 {
    padding-top: 4px !important; }
  html .tpb4 {
    padding-bottom: 4px !important; }
  html .tm4 {
    margin: 4px !important; }
  html .tml4 {
    margin-left: 4px !important; }
  html .tmr4 {
    margin-right: 4px !important; }
  html .tmt4 {
    margin-top: 4px !important; }
  html .tmb4 {
    margin-bottom: 4px !important; }

  html .tp5 {
    padding: 5px !important; }
  html .tpl5 {
    padding-left: 5px !important; }
  html .tpr5 {
    padding-right: 5px !important; }
  html .tpt5 {
    padding-top: 5px !important; }
  html .tpb5 {
    padding-bottom: 5px !important; }
  html .tm5 {
    margin: 5px !important; }
  html .tml5 {
    margin-left: 5px !important; }
  html .tmr5 {
    margin-right: 5px !important; }
  html .tmt5 {
    margin-top: 5px !important; }
  html .tmb5 {
    margin-bottom: 5px !important; }

  html .tp6 {
    padding: 6px !important; }
  html .tpl6 {
    padding-left: 6px !important; }
  html .tpr6 {
    padding-right: 6px !important; }
  html .tpt6 {
    padding-top: 6px !important; }
  html .tpb6 {
    padding-bottom: 6px !important; }
  html .tm6 {
    margin: 6px !important; }
  html .tml6 {
    margin-left: 6px !important; }
  html .tmr6 {
    margin-right: 6px !important; }
  html .tmt6 {
    margin-top: 6px !important; }
  html .tmb6 {
    margin-bottom: 6px !important; }

  html .tp7 {
    padding: 7px !important; }
  html .tpl7 {
    padding-left: 7px !important; }
  html .tpr7 {
    padding-right: 7px !important; }
  html .tpt7 {
    padding-top: 7px !important; }
  html .tpb7 {
    padding-bottom: 7px !important; }
  html .tm7 {
    margin: 7px !important; }
  html .tml7 {
    margin-left: 7px !important; }
  html .tmr7 {
    margin-right: 7px !important; }
  html .tmt7 {
    margin-top: 7px !important; }
  html .tmb7 {
    margin-bottom: 7px !important; }

  html .tp8 {
    padding: 8px !important; }
  html .tpl8 {
    padding-left: 8px !important; }
  html .tpr8 {
    padding-right: 8px !important; }
  html .tpt8 {
    padding-top: 8px !important; }
  html .tpb8 {
    padding-bottom: 8px !important; }
  html .tm8 {
    margin: 8px !important; }
  html .tml8 {
    margin-left: 8px !important; }
  html .tmr8 {
    margin-right: 8px !important; }
  html .tmt8 {
    margin-top: 8px !important; }
  html .tmb8 {
    margin-bottom: 8px !important; }

  html .tp9 {
    padding: 9px !important; }
  html .tpl9 {
    padding-left: 9px !important; }
  html .tpr9 {
    padding-right: 9px !important; }
  html .tpt9 {
    padding-top: 9px !important; }
  html .tpb9 {
    padding-bottom: 9px !important; }
  html .tm9 {
    margin: 9px !important; }
  html .tml9 {
    margin-left: 9px !important; }
  html .tmr9 {
    margin-right: 9px !important; }
  html .tmt9 {
    margin-top: 9px !important; }
  html .tmb9 {
    margin-bottom: 9px !important; }

  html .tp10 {
    padding: 10px !important; }
  html .tpl10 {
    padding-left: 10px !important; }
  html .tpr10 {
    padding-right: 10px !important; }
  html .tpt10 {
    padding-top: 10px !important; }
  html .tpb10 {
    padding-bottom: 10px !important; }
  html .tm10 {
    margin: 10px !important; }
  html .tml10 {
    margin-left: 10px !important; }
  html .tmr10 {
    margin-right: 10px !important; }
  html .tmt10 {
    margin-top: 10px !important; }
  html .tmb10 {
    margin-bottom: 10px !important; }

  html .tp11 {
    padding: 11px !important; }
  html .tpl11 {
    padding-left: 11px !important; }
  html .tpr11 {
    padding-right: 11px !important; }
  html .tpt11 {
    padding-top: 11px !important; }
  html .tpb11 {
    padding-bottom: 11px !important; }
  html .tm11 {
    margin: 11px !important; }
  html .tml11 {
    margin-left: 11px !important; }
  html .tmr11 {
    margin-right: 11px !important; }
  html .tmt11 {
    margin-top: 11px !important; }
  html .tmb11 {
    margin-bottom: 11px !important; }

  html .tp12 {
    padding: 12px !important; }
  html .tpl12 {
    padding-left: 12px !important; }
  html .tpr12 {
    padding-right: 12px !important; }
  html .tpt12 {
    padding-top: 12px !important; }
  html .tpb12 {
    padding-bottom: 12px !important; }
  html .tm12 {
    margin: 12px !important; }
  html .tml12 {
    margin-left: 12px !important; }
  html .tmr12 {
    margin-right: 12px !important; }
  html .tmt12 {
    margin-top: 12px !important; }
  html .tmb12 {
    margin-bottom: 12px !important; }

  html .tp13 {
    padding: 13px !important; }
  html .tpl13 {
    padding-left: 13px !important; }
  html .tpr13 {
    padding-right: 13px !important; }
  html .tpt13 {
    padding-top: 13px !important; }
  html .tpb13 {
    padding-bottom: 13px !important; }
  html .tm13 {
    margin: 13px !important; }
  html .tml13 {
    margin-left: 13px !important; }
  html .tmr13 {
    margin-right: 13px !important; }
  html .tmt13 {
    margin-top: 13px !important; }
  html .tmb13 {
    margin-bottom: 13px !important; }

  html .tp14 {
    padding: 14px !important; }
  html .tpl14 {
    padding-left: 14px !important; }
  html .tpr14 {
    padding-right: 14px !important; }
  html .tpt14 {
    padding-top: 14px !important; }
  html .tpb14 {
    padding-bottom: 14px !important; }
  html .tm14 {
    margin: 14px !important; }
  html .tml14 {
    margin-left: 14px !important; }
  html .tmr14 {
    margin-right: 14px !important; }
  html .tmt14 {
    margin-top: 14px !important; }
  html .tmb14 {
    margin-bottom: 14px !important; }

  html .tp15 {
    padding: 15px !important; }
  html .tpl15 {
    padding-left: 15px !important; }
  html .tpr15 {
    padding-right: 15px !important; }
  html .tpt15 {
    padding-top: 15px !important; }
  html .tpb15 {
    padding-bottom: 15px !important; }
  html .tm15 {
    margin: 15px !important; }
  html .tml15 {
    margin-left: 15px !important; }
  html .tmr15 {
    margin-right: 15px !important; }
  html .tmt15 {
    margin-top: 15px !important; }
  html .tmb15 {
    margin-bottom: 15px !important; }

  .tradi2 {
    border-radius: 2px !important; }

  .tradi4 {
    border-radius: 4px !important; }

  .tradi6 {
    border-radius: 6px !important; }

  .tradi8 {
    border-radius: 8px !important; }

  .tradi10 {
    border-radius: 10px !important; }

  .tradi12 {
    border-radius: 12px !important; }

  .tradi14 {
    border-radius: 14px !important; }

  .tradi16 {
    border-radius: 16px !important; }

  .tradi18 {
    border-radius: 18px !important; }

  .tradi20 {
    border-radius: 20px !important; }

  .tp-pt3 {
    padding-top: 3% !important; }

  .tp-pt5 {
    padding-top: 5% !important; }

  .tp-pt10 {
    padding-top: 10% !important; }

  .tp-mt3 {
    margin-top: 3% !important; }

  .tp-mt5 {
    margin-top: 5% !important; }

  .tp-mt10 {
    margin-top: 10% !important; }

  .tw-p1 {
    width: calc(10% * 1) !important;
    float: left;
    word-break: break-all; }

  .twd-p1 {
    width: calc((10% * 1) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd-p1 {
    width: calc((10% * 1) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .tw-p2 {
    width: calc(10% * 2) !important;
    float: left;
    word-break: break-all; }

  .twd-p2 {
    width: calc((10% * 2) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd-p2 {
    width: calc((10% * 2) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .tw-p3 {
    width: calc(10% * 3) !important;
    float: left;
    word-break: break-all; }

  .twd-p3 {
    width: calc((10% * 3) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd-p3 {
    width: calc((10% * 3) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .tw-p4 {
    width: calc(10% * 4) !important;
    float: left;
    word-break: break-all; }

  .twd-p4 {
    width: calc((10% * 4) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd-p4 {
    width: calc((10% * 4) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .tw-p5 {
    width: calc(10% * 5) !important;
    float: left;
    word-break: break-all; }

  .twd-p5 {
    width: calc((10% * 5) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd-p5 {
    width: calc((10% * 5) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .tw-p6 {
    width: calc(10% * 6) !important;
    float: left;
    word-break: break-all; }

  .twd-p6 {
    width: calc((10% * 6) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd-p6 {
    width: calc((10% * 6) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .tw-p7 {
    width: calc(10% * 7) !important;
    float: left;
    word-break: break-all; }

  .twd-p7 {
    width: calc((10% * 7) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd-p7 {
    width: calc((10% * 7) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .tw-p8 {
    width: calc(10% * 8) !important;
    float: left;
    word-break: break-all; }

  .twd-p8 {
    width: calc((10% * 8) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd-p8 {
    width: calc((10% * 8) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .tw-p9 {
    width: calc(10% * 9) !important;
    float: left;
    word-break: break-all; }

  .twd-p9 {
    width: calc((10% * 9) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd-p9 {
    width: calc((10% * 9) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .tw-p10 {
    width: calc(10% * 10) !important;
    float: left;
    word-break: break-all; }

  .twd-p10 {
    width: calc((10% * 10) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .twdd-p10 {
    width: calc((10% * 10) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; } }

/*# sourceMappingURL=style.tablet.css.map */
