@media all and (min-width: 971px) {
  .pw1 {
    width: calc(100%  / 12 * 1) !important;
    float: left;
    word-break: break-all; }

  .pwd1 {
    width: calc((100%  / 12 * 1) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd1 {
    width: calc((100%  / 12 * 1) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pwac1 {
    width: calc(100%  / 12 * 1);
    margin-left: auto !important;
    margin-right: auto !important; }

  .pw2 {
    width: calc(100%  / 12 * 2) !important;
    float: left;
    word-break: break-all; }

  .pwd2 {
    width: calc((100%  / 12 * 2) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd2 {
    width: calc((100%  / 12 * 2) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pwac2 {
    width: calc(100%  / 12 * 2);
    margin-left: auto !important;
    margin-right: auto !important; }

  .pw3 {
    width: calc(100%  / 12 * 3) !important;
    float: left;
    word-break: break-all; }

  .pwd3 {
    width: calc((100%  / 12 * 3) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd3 {
    width: calc((100%  / 12 * 3) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pwac3 {
    width: calc(100%  / 12 * 3);
    margin-left: auto !important;
    margin-right: auto !important; }

  .pw4 {
    width: calc(100%  / 12 * 4) !important;
    float: left;
    word-break: break-all; }

  .pwd4 {
    width: calc((100%  / 12 * 4) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd4 {
    width: calc((100%  / 12 * 4) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pwac4 {
    width: calc(100%  / 12 * 4);
    margin-left: auto !important;
    margin-right: auto !important; }

  .pw5 {
    width: calc(100%  / 12 * 5) !important;
    float: left;
    word-break: break-all; }

  .pwd5 {
    width: calc((100%  / 12 * 5) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd5 {
    width: calc((100%  / 12 * 5) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pwac5 {
    width: calc(100%  / 12 * 5);
    margin-left: auto !important;
    margin-right: auto !important; }

  .pw6 {
    width: calc(100%  / 12 * 6) !important;
    float: left;
    word-break: break-all; }

  .pwd6 {
    width: calc((100%  / 12 * 6) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd6 {
    width: calc((100%  / 12 * 6) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pwac6 {
    width: calc(100%  / 12 * 6);
    margin-left: auto !important;
    margin-right: auto !important; }

  .pw7 {
    width: calc(100%  / 12 * 7) !important;
    float: left;
    word-break: break-all; }

  .pwd7 {
    width: calc((100%  / 12 * 7) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd7 {
    width: calc((100%  / 12 * 7) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pwac7 {
    width: calc(100%  / 12 * 7);
    margin-left: auto !important;
    margin-right: auto !important; }

  .pw8 {
    width: calc(100%  / 12 * 8) !important;
    float: left;
    word-break: break-all; }

  .pwd8 {
    width: calc((100%  / 12 * 8) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd8 {
    width: calc((100%  / 12 * 8) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pwac8 {
    width: calc(100%  / 12 * 8);
    margin-left: auto !important;
    margin-right: auto !important; }

  .pw9 {
    width: calc(100%  / 12 * 9) !important;
    float: left;
    word-break: break-all; }

  .pwd9 {
    width: calc((100%  / 12 * 9) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd9 {
    width: calc((100%  / 12 * 9) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pwac9 {
    width: calc(100%  / 12 * 9);
    margin-left: auto !important;
    margin-right: auto !important; }

  .pw10 {
    width: calc(100%  / 12 * 10) !important;
    float: left;
    word-break: break-all; }

  .pwd10 {
    width: calc((100%  / 12 * 10) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd10 {
    width: calc((100%  / 12 * 10) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pwac10 {
    width: calc(100%  / 12 * 10);
    margin-left: auto !important;
    margin-right: auto !important; }

  .pw11 {
    width: calc(100%  / 12 * 11) !important;
    float: left;
    word-break: break-all; }

  .pwd11 {
    width: calc((100%  / 12 * 11) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd11 {
    width: calc((100%  / 12 * 11) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pwac11 {
    width: calc(100%  / 12 * 11);
    margin-left: auto !important;
    margin-right: auto !important; }

  .pw12 {
    width: calc(100%  / 12 * 12) !important;
    float: left;
    word-break: break-all; }

  .pwd12 {
    width: calc((100%  / 12 * 12) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd12 {
    width: calc((100%  / 12 * 12) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pwac12 {
    width: calc(100%  / 12 * 12);
    margin-left: auto !important;
    margin-right: auto !important; }

  .pwaca {
    width: auto;
    margin-lkeft: auto;
    margin-right: auto; }

  html .pp0 {
    padding: 0px !important; }
  html .ppl0 {
    padding-left: 0px !important; }
  html .ppr0 {
    padding-right: 0px !important; }
  html .ppt0 {
    padding-top: 0px !important; }
  html .ppb0 {
    padding-bottom: 0px !important; }
  html .pm0 {
    margin: 0px !important; }
  html .pml0 {
    margin-left: 0px !important; }
  html .pmr0 {
    margin-right: 0px !important; }
  html .pmt0 {
    margin-top: 0px !important; }
  html .pmb0 {
    margin-bottom: 0px !important; }

  html .pp1 {
    padding: 1px !important; }
  html .ppl1 {
    padding-left: 1px !important; }
  html .ppr1 {
    padding-right: 1px !important; }
  html .ppt1 {
    padding-top: 1px !important; }
  html .ppb1 {
    padding-bottom: 1px !important; }
  html .pm1 {
    margin: 1px !important; }
  html .pml1 {
    margin-left: 1px !important; }
  html .pmr1 {
    margin-right: 1px !important; }
  html .pmt1 {
    margin-top: 1px !important; }
  html .pmb1 {
    margin-bottom: 1px !important; }

  html .pp2 {
    padding: 2px !important; }
  html .ppl2 {
    padding-left: 2px !important; }
  html .ppr2 {
    padding-right: 2px !important; }
  html .ppt2 {
    padding-top: 2px !important; }
  html .ppb2 {
    padding-bottom: 2px !important; }
  html .pm2 {
    margin: 2px !important; }
  html .pml2 {
    margin-left: 2px !important; }
  html .pmr2 {
    margin-right: 2px !important; }
  html .pmt2 {
    margin-top: 2px !important; }
  html .pmb2 {
    margin-bottom: 2px !important; }

  html .pp3 {
    padding: 3px !important; }
  html .ppl3 {
    padding-left: 3px !important; }
  html .ppr3 {
    padding-right: 3px !important; }
  html .ppt3 {
    padding-top: 3px !important; }
  html .ppb3 {
    padding-bottom: 3px !important; }
  html .pm3 {
    margin: 3px !important; }
  html .pml3 {
    margin-left: 3px !important; }
  html .pmr3 {
    margin-right: 3px !important; }
  html .pmt3 {
    margin-top: 3px !important; }
  html .pmb3 {
    margin-bottom: 3px !important; }

  html .pp4 {
    padding: 4px !important; }
  html .ppl4 {
    padding-left: 4px !important; }
  html .ppr4 {
    padding-right: 4px !important; }
  html .ppt4 {
    padding-top: 4px !important; }
  html .ppb4 {
    padding-bottom: 4px !important; }
  html .pm4 {
    margin: 4px !important; }
  html .pml4 {
    margin-left: 4px !important; }
  html .pmr4 {
    margin-right: 4px !important; }
  html .pmt4 {
    margin-top: 4px !important; }
  html .pmb4 {
    margin-bottom: 4px !important; }

  html .pp5 {
    padding: 5px !important; }
  html .ppl5 {
    padding-left: 5px !important; }
  html .ppr5 {
    padding-right: 5px !important; }
  html .ppt5 {
    padding-top: 5px !important; }
  html .ppb5 {
    padding-bottom: 5px !important; }
  html .pm5 {
    margin: 5px !important; }
  html .pml5 {
    margin-left: 5px !important; }
  html .pmr5 {
    margin-right: 5px !important; }
  html .pmt5 {
    margin-top: 5px !important; }
  html .pmb5 {
    margin-bottom: 5px !important; }

  html .pp6 {
    padding: 6px !important; }
  html .ppl6 {
    padding-left: 6px !important; }
  html .ppr6 {
    padding-right: 6px !important; }
  html .ppt6 {
    padding-top: 6px !important; }
  html .ppb6 {
    padding-bottom: 6px !important; }
  html .pm6 {
    margin: 6px !important; }
  html .pml6 {
    margin-left: 6px !important; }
  html .pmr6 {
    margin-right: 6px !important; }
  html .pmt6 {
    margin-top: 6px !important; }
  html .pmb6 {
    margin-bottom: 6px !important; }

  html .pp7 {
    padding: 7px !important; }
  html .ppl7 {
    padding-left: 7px !important; }
  html .ppr7 {
    padding-right: 7px !important; }
  html .ppt7 {
    padding-top: 7px !important; }
  html .ppb7 {
    padding-bottom: 7px !important; }
  html .pm7 {
    margin: 7px !important; }
  html .pml7 {
    margin-left: 7px !important; }
  html .pmr7 {
    margin-right: 7px !important; }
  html .pmt7 {
    margin-top: 7px !important; }
  html .pmb7 {
    margin-bottom: 7px !important; }

  html .pp8 {
    padding: 8px !important; }
  html .ppl8 {
    padding-left: 8px !important; }
  html .ppr8 {
    padding-right: 8px !important; }
  html .ppt8 {
    padding-top: 8px !important; }
  html .ppb8 {
    padding-bottom: 8px !important; }
  html .pm8 {
    margin: 8px !important; }
  html .pml8 {
    margin-left: 8px !important; }
  html .pmr8 {
    margin-right: 8px !important; }
  html .pmt8 {
    margin-top: 8px !important; }
  html .pmb8 {
    margin-bottom: 8px !important; }

  html .pp9 {
    padding: 9px !important; }
  html .ppl9 {
    padding-left: 9px !important; }
  html .ppr9 {
    padding-right: 9px !important; }
  html .ppt9 {
    padding-top: 9px !important; }
  html .ppb9 {
    padding-bottom: 9px !important; }
  html .pm9 {
    margin: 9px !important; }
  html .pml9 {
    margin-left: 9px !important; }
  html .pmr9 {
    margin-right: 9px !important; }
  html .pmt9 {
    margin-top: 9px !important; }
  html .pmb9 {
    margin-bottom: 9px !important; }

  html .pp10 {
    padding: 10px !important; }
  html .ppl10 {
    padding-left: 10px !important; }
  html .ppr10 {
    padding-right: 10px !important; }
  html .ppt10 {
    padding-top: 10px !important; }
  html .ppb10 {
    padding-bottom: 10px !important; }
  html .pm10 {
    margin: 10px !important; }
  html .pml10 {
    margin-left: 10px !important; }
  html .pmr10 {
    margin-right: 10px !important; }
  html .pmt10 {
    margin-top: 10px !important; }
  html .pmb10 {
    margin-bottom: 10px !important; }

  html .pp11 {
    padding: 11px !important; }
  html .ppl11 {
    padding-left: 11px !important; }
  html .ppr11 {
    padding-right: 11px !important; }
  html .ppt11 {
    padding-top: 11px !important; }
  html .ppb11 {
    padding-bottom: 11px !important; }
  html .pm11 {
    margin: 11px !important; }
  html .pml11 {
    margin-left: 11px !important; }
  html .pmr11 {
    margin-right: 11px !important; }
  html .pmt11 {
    margin-top: 11px !important; }
  html .pmb11 {
    margin-bottom: 11px !important; }

  html .pp12 {
    padding: 12px !important; }
  html .ppl12 {
    padding-left: 12px !important; }
  html .ppr12 {
    padding-right: 12px !important; }
  html .ppt12 {
    padding-top: 12px !important; }
  html .ppb12 {
    padding-bottom: 12px !important; }
  html .pm12 {
    margin: 12px !important; }
  html .pml12 {
    margin-left: 12px !important; }
  html .pmr12 {
    margin-right: 12px !important; }
  html .pmt12 {
    margin-top: 12px !important; }
  html .pmb12 {
    margin-bottom: 12px !important; }

  html .pp13 {
    padding: 13px !important; }
  html .ppl13 {
    padding-left: 13px !important; }
  html .ppr13 {
    padding-right: 13px !important; }
  html .ppt13 {
    padding-top: 13px !important; }
  html .ppb13 {
    padding-bottom: 13px !important; }
  html .pm13 {
    margin: 13px !important; }
  html .pml13 {
    margin-left: 13px !important; }
  html .pmr13 {
    margin-right: 13px !important; }
  html .pmt13 {
    margin-top: 13px !important; }
  html .pmb13 {
    margin-bottom: 13px !important; }

  html .pp14 {
    padding: 14px !important; }
  html .ppl14 {
    padding-left: 14px !important; }
  html .ppr14 {
    padding-right: 14px !important; }
  html .ppt14 {
    padding-top: 14px !important; }
  html .ppb14 {
    padding-bottom: 14px !important; }
  html .pm14 {
    margin: 14px !important; }
  html .pml14 {
    margin-left: 14px !important; }
  html .pmr14 {
    margin-right: 14px !important; }
  html .pmt14 {
    margin-top: 14px !important; }
  html .pmb14 {
    margin-bottom: 14px !important; }

  html .pp15 {
    padding: 15px !important; }
  html .ppl15 {
    padding-left: 15px !important; }
  html .ppr15 {
    padding-right: 15px !important; }
  html .ppt15 {
    padding-top: 15px !important; }
  html .ppb15 {
    padding-bottom: 15px !important; }
  html .pm15 {
    margin: 15px !important; }
  html .pml15 {
    margin-left: 15px !important; }
  html .pmr15 {
    margin-right: 15px !important; }
  html .pmt15 {
    margin-top: 15px !important; }
  html .pmb15 {
    margin-bottom: 15px !important; }

  .pradi2 {
    border-radius: 2px !important; }

  .pradi4 {
    border-radius: 4px !important; }

  .pradi6 {
    border-radius: 6px !important; }

  .pradi8 {
    border-radius: 8px !important; }

  .pradi10 {
    border-radius: 10px !important; }

  .pradi12 {
    border-radius: 12px !important; }

  .pradi14 {
    border-radius: 14px !important; }

  .pradi16 {
    border-radius: 16px !important; }

  .pradi18 {
    border-radius: 18px !important; }

  .pradi20 {
    border-radius: 20px !important; }

  .pp-pt3 {
    padding-top: 3% !important; }

  .pp-pt5 {
    padding-top: 5% !important; }

  .pp-pt10 {
    padding-top: 10% !important; }

  .pp-mt3 {
    margin-top: 3% !important; }

  .pp-mt5 {
    margin-top: 5% !important; }

  .pp-mt10 {
    margin-top: 10% !important; }

  .pw-p1 {
    width: calc(10% * 1) !important;
    float: left;
    word-break: break-all; }

  .pwd-p1 {
    width: calc((10% * 1) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd-p1 {
    width: calc((10% * 1) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pw-p2 {
    width: calc(10% * 2) !important;
    float: left;
    word-break: break-all; }

  .pwd-p2 {
    width: calc((10% * 2) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd-p2 {
    width: calc((10% * 2) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pw-p3 {
    width: calc(10% * 3) !important;
    float: left;
    word-break: break-all; }

  .pwd-p3 {
    width: calc((10% * 3) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd-p3 {
    width: calc((10% * 3) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pw-p4 {
    width: calc(10% * 4) !important;
    float: left;
    word-break: break-all; }

  .pwd-p4 {
    width: calc((10% * 4) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd-p4 {
    width: calc((10% * 4) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pw-p5 {
    width: calc(10% * 5) !important;
    float: left;
    word-break: break-all; }

  .pwd-p5 {
    width: calc((10% * 5) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd-p5 {
    width: calc((10% * 5) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pw-p6 {
    width: calc(10% * 6) !important;
    float: left;
    word-break: break-all; }

  .pwd-p6 {
    width: calc((10% * 6) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd-p6 {
    width: calc((10% * 6) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pw-p7 {
    width: calc(10% * 7) !important;
    float: left;
    word-break: break-all; }

  .pwd-p7 {
    width: calc((10% * 7) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd-p7 {
    width: calc((10% * 7) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pw-p8 {
    width: calc(10% * 8) !important;
    float: left;
    word-break: break-all; }

  .pwd-p8 {
    width: calc((10% * 8) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd-p8 {
    width: calc((10% * 8) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pw-p9 {
    width: calc(10% * 9) !important;
    float: left;
    word-break: break-all; }

  .pwd-p9 {
    width: calc((10% * 9) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd-p9 {
    width: calc((10% * 9) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; }

  .pw-p10 {
    width: calc(10% * 10) !important;
    float: left;
    word-break: break-all; }

  .pwd-p10 {
    width: calc((10% * 10) - 4px) !important;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    word-break: break-all; }

  .pwdd-p10 {
    width: calc((10% * 10) - 8px) !important;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    word-break: break-all; } }

/*# sourceMappingURL=style.pc.css.map */
