@charset "utf-8";
@import "variable.scss";


@each $name,$code in $color{
	@include keyframes(#{""+$name}-btn-hover){
		@for $i from 0 through 10{
			@if ($name != stone){
				#{$i*10}%{background:-webkit-radial-gradient(circle, lighten($code,3) #{$i*10+"%"}, $code #{$i*10+"%"}, $code 100%);}
			} @else{}
		}
	}
}

	@include keyframes(btn-o-hover){
		@for $i from 0 through 10{
			#{$i*10}%{background:-webkit-radial-gradient(circle, $white #{$i*10+"%"}, $real-white #{$i*10+"%"}, $real-white 100%)}
		}
	}
	
	
	.rotate-left{animation:rotate-left 2s linear infinite;}
	@include keyframes(rotate-left){
		0%{transform:rotate(0deg);}
		50%{transform:rotate(180deg);}
		100%{transform:rotate(360deg);}
	}
	.rotate-right{animation:rotate-right 2s linear infinite;}
	@include keyframes(rotate-right){
		0%{transform:rotate(0deg);}
		50%{transform:rotate(-180deg);}
		100%{transform:rotate(-360deg);}
	}