@charset "utf-8";
@import "variable.scss";

:lang(ja) {font-family:osaka,'Noto Sans JP', sans-serif  !important}
:lang(en) {font-family:helvetica neue, sans-serif !important}

body{
	background:$background;font-size:14px;font-family:Helvetica Neue,Hevetica,"맑은 고딕",Sans-serif;font-weight:400;line-height:150%;letter-spacing:0px;
	width:100%;height:100%;tap-highlight-color : transparent;font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;overflow-scrolling: touch;overflow-y:auto;-webkit-overflow-scrolling: touch;-moz-overflow-scrolling: touch;-ms-overflow-scrolling: touch;
	
	canvas, article, section, div, button{position:relative;word-break:break-all;display:block;overflow:hidden;}
}
	.t-view{width:720px;margin:0px auto;display:block;overflow:hidden;}
	section{}
		aside{background:$real-white;}
		article{border:1px solid $border-color;}
		div{width:auto;margin:auto;overflow:hidden;display:block;line-height:150%;}
	footer{text-align:center;padding:10px;margin-top:10px;border-top:1px solid $border-color;}
	pre{border:1px solid $border-color;padding:10px;background:$real-white;color:$main;margin-top:5px;margin-bottoom:5px;}
	.flex {
	  display: -webkit-flex;
	  display:         flex;
	  -webkit-align-items: center;
		 align-items: center;
	  -webkit-justify-content: center;
	  justify-content: center;
	}
	.over{display:relative;overflow:hidden;}
	
	a{color:map-get($color,blue);}
	

	
	@for $i from 1 through 12{
		//Width
		.w#{$i}{width:calc(100%  / 12 * #{$i}) !important;float:left;word-break:break-all;
			$set : append(device-set,&);
		}
		
		//Wdith Deep
		.wd#{$i}{width:calc((100%  / 12 * #{$i}) - 4px) !important;margin-left:2px;margin-right:2px;float:left;word-break:break-all;
			$set : append(device-set,&);
		}
		.wdd#{$i}{width:calc((100%  / 12 * #{$i}) - 8px) !important;margin-left:4px;margin-right:4px;float:left;word-break:break-all;
			$set : append(device-set,&);
		}
		//Wdith Align Center
		.wac#{$i}{width:calc(100%  / 12 * #{$i});margin-left:auto !important;margin-right:auto !important;
			overflow:hidden;position:relative;display:block;
		}
	}
	//Wdith Align Center Auto
	.waca{width:auto;margin-lkeft:auto;margin-right:auto;}
	.pwdiv7{width:calc(100% / 7) !important;float:left;}
	
	@for $i from 0 through 20{
		//Padding
		html{
			.p#{$i}{padding:#{$i}px !important}
			.pl#{$i}{padding-left:#{$i}px !important}
			.pr#{$i}{padding-right:#{$i}px !important}
			.pt#{$i}{padding-top:#{$i}px !important}
			.pb#{$i}{padding-bottom:#{$i}px !important}
			
			//Margin
			.m#{$i}{margin:#{$i}px !important}
			.ml#{$i}{margin-left:#{$i}px !important}
			.mr#{$i}{margin-right:#{$i}px !important}
			.mt#{$i}{margin-top:#{$i}px !important}
			.mb#{$i}{margin-bottom:#{$i}px !important}
		}
	}
	@for $i from 0 through 10{
		.radi#{$i*2}{border-radius:#{$i*2}px !important}
			.pt-p#{$i}{padding-top:#{$i}% !important}
			.pb-p#{$i}{padding-bottom:#{$i}% !important}
			.mt-p#{$i}{margin-top:#{$i}% !important}
			.mb-p#{$i}{margin-bottom:#{$i}% !important}
	}
	.radi-p50{border-radius:50%;}
	
	@for $i from 1 through 10{
		//Width Padding
		.w-p#{$i}{width:calc(10% * #{$i}) !important;float:left;word-break:break-all}
		//width Deep Padding
		.wd-p#{$i}{width:calc((10% * #{$i}) - 4px) !important;margin-left:2px;margin-right:2px;float:left;word-break:break-all}
		.wdd-p#{$i}{width:calc((10% * #{$i}) - 8px) !important;margin-left:4px;margin-right:4px;float:left;word-break:break-all}
	}
	
	//border
	.bdr{border:1px solid $border-color !important}
	.wbdr{border:1px solid $white !important}
	//bottom border
	.bbdr{border-bottom:1px solid $border-color !important}
	.tbdr{border-top:1px solid $border-color !important}
	.rbdr{border-right:1px solid $border-color !important}
	.lbdr{border-left:1px solid $border-color !important}
	//zero border size
	.bdr0{border:none !important}
	.bbdr0{border-bottom:none !important}
	.tbdr0{border-top:none !important}
	.rbdr0{border-right:none !important}
	.lbdr0{border-left:none !important}
	
	
	//image size
	img.i16{width:16px;height:16px;}
	img.i32{width:32px;height:32px;}
	img.i64{width:64px;height:64px;}
	img.i128{width:128px;height:128px;}
	

//font size & highlight
 .h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5{line-height:1.5;margin-top:0px;margin-bottom:0px;}
 h1,h2,h3,.h1,.h2,.h3{padding:10px;padding-bottom:5px;margin-bottom:10px;border-bottom:1px solid $border-color}
 h4, h5, .h4, .h5{padding:5px;padding-bottom:5px;margin-bottom:5px;border-bottom:1px solid $border-color}
 .b1, .b2, .b3, .b4, .b5{padding:5px 0px;}
 h1, .h1, .b1{font-size:2.5em;}
 h2, .h2, .b2{font-size:2.1em;}
 h3, .h3, .b3{font-size:1.8em;}
 h4, .h4, .b4{font-size:1.4em;}
 h5, .h5, .b5{font-size:1.2em;}

//text align
.center, .tcenter{text-align:center;} // text center
.tright{text-align:right} // text right
.tleft{text-align:left} // text left
//font style
.bold{font-weight:bold;}

//font-family
:lang(ja) {font-family:osaka,'Noto Sans JP', sans-serif  !important}
:lang(en) {font-family:helvetica neue,sans-serif !important}
.nanum, .malg{font-family:'Malgun Gothic','나눔고딕','Malgun Gothic','맑은고딕','Sans-serif' !important}
.gul{font-family:'굴림','Sans-serif';}

//display
.hide{
	display:none !important;
}
.over{display:over;}
.show, .block{display:block}
.iblock{display:inline-block}
.inline{display:inline}
//한줄로만 표시 ...으로 생략됨
.only-line{white-space:nowrap;text-overflow:ellipsis;display:inline-block;overflow:hidden;}

//cursor
.hand, .pointer{cursor:pointer !important}

//float
.aleft{float:left;width:auto;}
.aright{float:right !important}

//button 
	.btn{transition:$default-ease;cursor:pointer;text-decoration:none;border:none;text-align:center;padding:5px;border:1px solid rgba(0,0,0,0);
		background:$main;color:rgba(255,255,255,.9);border-radius:$default-btn-radius;
	}
	.btn:hover{background:$hover-main;border:1px solid rgba(0,0,0,.1);}
	.btn[disabled], .btn[readonly]{background:$stone !important;border:1px solid rgba(255,255,255,.1);color:#ddd !important;cursor:default;}
	.btn.white{background:$white;color:rgba(0,0,0,.95);border:1px solid rgba(0,0,0,.1);border-radius:$default-btn-radius;}
		.btn.white:hover{background:$real-white;box-shadow:none;border:1px solid rgba(0,0,0,.15)}
	
	//색상으로 돌리는 each문
	@each $name, $code in $color{
		printc-#{""+$name}:after{content:#{"\""+$code+"\""};text-transform: uppercase;}
		//색상별 버튼
		.btn.#{""+$name}{
			background:$code;border-radius:$default-btn-radius;
			&:hover{
				@include animation("#{$name}-btn-hover .2s ease 0s");background:lighten($code,3);
				box-shadow:0px 0px 8px rgba(0,0,0,.1), inset 0px 0px 5px rgba(darken($code,10),.3), inset 0px 0px 1px rgba(255,255,255,.3);
			}
		}
		
		//o-버튼
		.btn.o.#{""+$name}{border:1px solid $code;color:$code;border-radius:$default-btn-radius;
			&:hover{@include animation("btn-o-hover .2s ease 0s")}
		}
		
		$vec : (left,right,top,bottom);
		@for $i from 1 through length($vec){
			.btn.#{nth($vec,$i)}.#{""+$name}{
				border:none;border-#{nth($vec,$i)}:5px solid darken($code,15);;
			}
			.btn.o.#{nth($vec,$i)}.#{""+$name}{
				border:none;border-#{nth($vec,$i)}:5px solid $code;color:$code;background:lighten($code,35);
			}
		}
		
		//box
		.box.#{""+$name}{background:$code}
		.box.o.#{""+$name}{background:lighten($code,35);color:darken($code,10);border:1px solid $code;}
		
		//background
		.cbdr.#{""+$name}, .cbdr-#{""+$name}{border:1px solid $code;}
		.bg.#{""+$name}{background:$code;}
		.bg-#{""+$name}{background:$code !important;}
		kbd.#{""+$name}{background:lighten($code,35);color:darken($code,10);}
		.info.#{""+$name}{border-left:3px solid $code}
		.t#{""+$name},.#{""+$name}-text{color:$code}
		
		.text-#{""+$name}{color:$code !important;}
		
		@for $i from 1 through 9{
			.bgl#{$i}-#{""+$name}{background:lighten($code,$i*4) !important;}
			.bgd#{$i}-#{""+$name}{background:darken($code,$i*4) !important;}
			
		}
	}
		
	.btn.o{background:$real-white;color:$black;border:1px solid $black}
	.btn.o:hover{background:$white;box-shadow:none;}
	
//box
	.err_quit{font-weight:bold;border:1px solid #dd4c4c;padding:5px;background:#000;margin:3px;color:#dd4c4c;text-transform:capitalize;}
	.box{background:$main;padding:8px 10px;color:$white;border:1px solid rgba(0,0,0,0);margin-top:5px;margin-bottom:5px;}
	.box.white{color:$black}
	
//$color Background
.wb{background:$real-white;}

//$color Color
.dc, .deep-text{color:#999}
.sc, .small{color:#999 !important;font-size:0.9em !important;}
	.small-text{font-size:0.9em;}
	.small-color{color:#999}
	.l{font-size:0.9em;color:rgba(128,128,128,0.5);padding:0px 2px;font-weight:normal;vertical-align:top;}
	
//background
.bg.white, .bg-white{color:$black;}
.bg{color:$white;}

//position
.ab{position:absolute;}
.ab.t0{top:0px;}
.ab.b0{bottom:0px;}
.ab.r0{right:0px;}
.ab.l0{left:0px;}

//text양식
.info{color:$main;border-left:3px solid $border-color;padding-left:5px;margin-bottom:10px;padding:10px;margin-top:5px;margin-bottom:5px;background:$real-white;}
.info.white{color:$black}

//strike
s, strike{color:$grey;}

//upload input
input.fake{position:absolute;top:0px;left:0px;width:100%;height:100%;opacity:0;cursor:pointer;z-index:2;}

//code
xmp{background:$main;padding:10px;color:#e4e7ea;border-left:4px solid map-get($color,blue);width:100%;overflow:hidden;}

//list
ul{width:100%;
	li{color:$main;border-bottom:1px solid $border-color;width:100%;padding:8px;background:$real-white;}
	li.black{background:$main;color:$white;}
	li.white{background:$real-white}
	li:hover{background:$white}
	li.list{float:left;}
}

//background
div.background.black{z-index:0;position:absolute;background:rgba(0,0,0,.5);width:100%;height:100%;}
div.hider.black{z-index:10;position:absolute;background:rgba(0,0,0,.5);width:100%;height:100%;}

//kbd
kbd{background:rgba(128,128,128,0.1);color:#555;padding:2px 4px;border-radius:5px;font-size:11px;}

//input
input[type="text"], input[type="password"], input[type="email"], input[type="number"]{padding:8px;border:1px solid $border-color;}

//text shadow black
.tsb{text-shadow:1px 0px 0px rgba(0,0,0,0.5), -1px 0px 0px rgba(0,0,0,0.5), 0px -1px 0px rgba(0,0,0,0.5), 0px 1px 0px rgba(0,0,0,0.5)}
.tsb3{text-shadow:3px 0px 1px rgba(0,0,0,0.5), -3px 0px 1px rgba(0,0,0,0.5), 0px -3px 1px rgba(0,0,0,0.5), 0px 3px 1px rgba(0,0,0,0.5)}

//img
/*img profile*/
img.profile{width:100px;height:100px;border-radius:50%;border:1px solid rgba(0,0,0,0.7)}
img.icon{width:48px;height:48px;border-radius:50%;border:1px solid rgba(0,0,0,0.7)}

	@each $name, $size in $device-list{
		/*device*/
		$width :  "";
		@if name == p {
			$width :  min-width;
		} @else {
			$width :  max-width;
		}
		@media all and ($width:#{$size+"px"}){
			/*content $device-set */
		}
	}
	
	@media all and (min-width: 971px) {
		section{min-width:1100px;width:1100px;height:auto;min-height:100%;margin:0px auto 0px auto;}
	}
	@media all and (max-width: 970px) {
		section{width:100%;height:auto;min-height:100%;}
	}
	@media all and (max-width:768px){
		section{width:100%;height:auto;min-height:100%;}
	}


