@charset "utf-8";

//기본적인 설정
$default-btn-radius : 0px;


$device-set : ();
$device-list : (m:768, t:1024, p:1025);  

$black : #222;
	$real-black : #000;
$grey : #ccc;
$white : #f5f5f5;
	//최대흰색 서버지기는 #fff가 너무밝아 싫어하기 때문에 제한을 두었습니다. 사용자에 맞게 수정해서 쓰세요.
	$real-white : #f9f9f9;
$main : #33373a;
	$hover-main : #404446;

//color
$color : (black : $black, main : $main, blue : #3a9cfd, red : #E35959, sky : #1bb2f9, oran : #f9ac44, green : #47c14d, stone : #aaa, white : $real-white);
$hover :(black : #333, main : #404446, blue : #42a1ff, red : #eb6666, sky : #29bbff, oran : #ffb34d, green : #4dc553, stone : #aaa, white : $white);
$alpha :(black : rgba(25,5,25,.2), main : rgba(51,55,8,.2), blue : rgba(58,156,253,.2), red : rgba(227,89,89,.2), sky : rgba(32,184,255,.2), oran : rgba(249,172,68,.2), green : rgba(71,193,77,.2), stone : #aaa, white : rgba(245,245,245,.2));

$blue : #3a9cfd;
	$hover-blue : #42a1ff;
	$blue-alpha : rgba(58,156,253,0.2);
$red : #E35959;
	$hover-red : #eb6666;
	$deep-red : #e64242;
	$red-alpha : rgba(227,89,89,0.2);
$sky : #20b8ff;
	$hover-sky : #26baff;
	$sky-alpha : rgba(32,184,255,0.2);
$oran : #f9ac44;
	$hover-oran : #ffb34d;
	$deep-oran : #e68d00;
	$oran-alpha : rgba(249,172,68,0.2);
$green : #47c14d;
	$hover-green : #4dc553;
	$green-alpha : rgba(71,193,77,0.2);
$stone : #aaa;
	
$nine : #999;

$default-ease : .2s ease 0s;
	
	

$white-text : #e1e2e5;
$border-color : #e5e5e5;



@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
	animation-fill-mode: forwards
}

//key frames
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@function map-set($map, $key, $value) {
  $new: ($key: $value);
  @return map-merge($map, $new);
}
